<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find bmirobot_control)/config/robotarm_control.yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="right_trajectory_controller left_trajectory_controller right_group_hand_controller left_group_hand_controller "/>

</launch>
